@import "tailwindcss";
@plugin "daisyui" {
  themes: light; 
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* ... other dark mode styles ... */
}